.header
{
    display: inline-flex;
    flex-direction: row-reverse;
    font-size: 45px;
    font-family: papyrus;
    font-weight: bold;
    color: white;
}
body
{
    background-color: darkolivegreen;
}

.logo
{
    display: inline-flex;
    align-items: flex-end;
    width: 75px;
}

.tagline
{
    color: white;
    font-family: papyrus;
    font-weight: bold;
    font-size: 20px;
}

.navbar
{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-style: inset;
    border-color: darkslategrey;
    padding: 20px;
}

.navbar div
{
    border-style: solid;
    color: white;
    font-family: "Adobe Devanagari";
    width: 100px;
    line-height: 30px;
    background-color: darkolivegreen;
    margin: auto;
    font-size: 20px;
    text-align: center;
}

footer
{
    text-align: center;
}