<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Images</title>
    <link rel="stylesheet" href="../css/style.css" link>
</head>
<body>
<h1>Image References</h1>
    <ul>
        <li><a href = https://www.dreamstime.com/pine-tree-logo-vector-pines-image186145118>Pine Tree Logo</a></li>
        <li><a href = https://www.pexels.com/photo/back-view-of-a-man-standing-outdoors-with-his-hiking-gear-8774073/>Home page dude</a></li>
        <li><a href = https://www.pexels.com/photo/brown-work-boots-167706/>Boots</a></li>
        <li><a href = https://www.vecteezy.com/vector-art/6941674-forest-with-pine-trees-logo-vector-icon-symbol-illustration-design-silhouette>Icon</a></li>
        <li><a href = https://www.istockphoto.com/photos/hiking-boot>Hiking boots</a></li>
        <li><a href = https://www.complex.com/style/2013/09/generic-stuff>Generic stuff</a></li>
        <li><a href = https://printify.com/app/products/614/generic-brand/kensington-tritan-sport-bottle-20oz>Water bottle</a></li>
        <li><a href = https://www.sportrx.com/blog/best-hiking-sunglasses/>Sunglasses</a></li>
        <li><a href = https://www.academy.com/p/cascade-aluminum-quick-lock-trekking-poles-with-cork-grips-->Trekking</a></li>
    </ul>
</body>
</html>